spring:
  application:
    name: product-inventory
  config:
    import: configserver:http://localhost:8888
server:
  port: 8083
management:
  endpoints:
    web:
     exposure:
       include: '*'
  endpoint:
    health:
      show-details: always


